* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    line-height: 1.7em;
}

.l-box {
    padding: 1.5em;
    text-align: left;
}

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 0.5em;
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #FFF;
        }

body .primary-button {
    -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

    background: #02a6eb;
    color: #fff;
}
body .primary-button:hover {
    -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

    background: #0393d0;
    color: #fff;
}

.splash {
    width: 100%;
    margin: -1em auto 0;
    padding: 3em 0em;
    background: #eee;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 100;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    .splash .splash-subhead a {
        text-decoration: none;
    }
    .splash .primary-button {
        font-size: 150%;
    }
.splash-custom {
    color: #222222;
    text-shadow:0px -1px 2px #b7b7b7;
    text-align: center;
    background: url(../images/home/brainstorm.jpg) no-repeat;
    background-size: cover;
    padding: 8em 0;
}
.splash-custom-rice {
    color: #222222;
    text-shadow:0px -1px 2px #b7b7b7;
    text-align: center;
    background: url(http://farm8.staticflickr.com/7395/8787640883_108f588ac7_o.jpg) no-repeat;
    background-size: cover;
    padding: 9em 0;
}
.splash-dark {
    background: ;
    color: #222;
    /*background: url(../images/home/brainstorm2.jpg) no-repeat;*/
    background-size: cover;
    padding: 8em 0;
}

.content .content-subhead {
    /*border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #02a6eb;
    text-align: center;
    color: #fff;*/
    color: #fff;
    font-size: 100%;
    padding: 0em 4em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
    border-top: 1px solid #d9d8d8;
    width: 100%;
}
.content .content-subhead-news {
    color: rgb(80,189,237);
    font-size: 100%;
    padding: 0em 1em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.content .content-subhead-tag {
    font-family: sans-serif;
    color: #fff;
    font-size: 100%;
    text-transform: uppercase;
    margin-top: -1px;
    display: inline-block;
    background: #d9d8d8;
    -webkit-border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;
           border-radius: 0px 0px 5px 5px;
    padding: 8px 25px;
}

.content .content-ribbon {
    margin: 0.3em;
    border-bottom: 1px solid #eee;
}


.ribbon {
    background: #eee;
    text-align: center;
    margin-top: -0.5em;
    margin-bottom: 3em;
    padding: 2em;
    color: #222;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
/*-----cv content------------------------------------------------*/
.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    
    padding: 0em 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    margin-top: 2em;
}

.post {
    /*border-top: 1px solid #d9d8d8;*/
    padding: 1em 4em;
    margin-bottom: 2em;
}
.post-header {
    margin-top: 3em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-sub-title {
    font-size: 1em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    /*border-radius: 50px;*/
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

/*cv timeline css*/
ul.events {
    list-style-type: none;
    margin: 0;
    padding: 0 0 20px 0;
}

ul.events li {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 30px;
    background: #eee;
    border: 1px solid #ddd;
    color: #707070;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 3px 0;
    position: relative;
    text-align: center;
}

ul.events li em {
    color: #aaa;
    font-weight: normal;
    font-size: 0.9em;
}

ul.intervals {
    list-style-type: none;
    padding: 0;
    display: block;
}

/* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */
.timeline-content {
    width: 90%;
    margin: 0 auto;
}
ul.intervals li {
    background: #fff url(/images/1x1_eee.gif) repeat-x left 10%;
    border-right: 1px solid #ccc;
    color: #999;
    float: left;
    font-size: 1.2em;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    width: 14.17%;
}

ul.intervals li.first {
    border-left: 1px solid #ccc;
}

/*
==========================
:: SLIDES
========================== */


.slide-title {
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    z-index: -2;
    min-height: 500px;
}


/*--- INTRO ---*/
.span12 h1 {
    color: #FFF;
    font-size: 5em;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.1)
}
.slide-intro {
    background: url(../images/rice.jpg) no-repeat center bottom #241c23;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    z-index: -1;
    text-align: left;
    padding: 10em 0;
}


/*--- MAP ---*/


.slide-map {
    background: url(../images/map-background.jpg) no-repeat center center #c9d7dd;
    background-size: auto 100%;
    margin-top: 500px;
    padding-top: 380px;
    padding-bottom: 310px
}
.slide-food {
    background: url(../images/map-background.jpg) no-repeat center center #c9d7dd;
    background-size: auto 100%;
    margin-top: 500px;
    padding-top: 380px;
    padding-bottom: 310px
}

.slide-map h2 {
    text-shadow: 0px 2px 0px rgba(0,0,0,0.1)
}
/*--- WORKSPACE ---*/


.slide-workspace {
    text-align: center;
    background: url(../images/home/design.jpg) no-repeat center #251b23;
    background-size: 100% auto;
    background-attachment: fixed;
}

.slide-workspace p {
    color: rgba(255,255,255,0.6);
}

.slide-workspace p a {
    color: rgba(255,255,255,0.6);
}

.slide-workspace p a:hover {
    color: rgba(255,255,255,1);
}

/*--- CONTACT ---*/

.slide-contact {
    text-align: center;
    padding: 150px 0;
    background-color: #fbfaf2;
    margin-bottom: -2em;
}

.slide-contact h3 {
    color: #333;
    line-height: 1.5em;
}

.slide-contact h3 a {
    width: 50px;
    display: inline-block;
}

.slide-contact h3 a:hover {
    text-decoration: none;
}

.slide-contact h3 a.icon-dribbble {
    color: #f26499;
}

.slide-contact h3 a:hover.icon-dribbble {
    color: #c5376d;
}

.slide-contact h3 a.icon-twitter-3 {
    color: #00aced;
    width: 40px;
}

.slide-contact h3 a:hover.icon-twitter-3 {
    color: #008cc1;
}

.slide-contact h3 a.icon-gmail {
    color: #d44937;
    display: inline-block;
    margin-top: 5px;
}

.slide-contact h3 a:hover.icon-gmail {
    color: #ad3e2f;
}

.slide-contact h3 a.icon-linkedin {
    color: #0073b2;
}

.slide-contact h3 a:hover.icon-linkedin {
    color: #005c8f;
}
.contact-font {
    font-size: 2.4em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}
